html, body{
	height:100%;
    margin: 0;
    padding: 0;
}

body{
	background-image: url(r7.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1{
	text-align: center;
	font-family: "open sans";
	font-size: 350%;
	color: white;
}

p{
	text-align: center;
	font-family: "open sans";
	font-size: 600%;
	color: white;
	position: relative;
	top: -5%;
	left: 23%;
}


.whitebg1{
	width: 50%;
	float: left;
	padding: 1%;
	background-color: white;
	opacity: 0.8;
	line-height: 25px;
	font-family: "open sans";
	position: absolute; top: 140%; 
	border: 3px solid #000000;
	z-index: 2;
	font-size: 170%;
}

.whitebg2{
	width: 50%;
	float: right;
	padding: 1%;
	background-color: white;
	opacity: 0.8;
	line-height: 25px;
	font-family: "open sans";
	position: absolute; top: 224%; right: 0.01%;
	border: 3px solid #000000;
	z-index: 2;
	text-align: right;
	font-size: 170%;
}

.whitebg3{
	width: 50%;
	float: left;
	padding: 1%;
	background-color: white;
	opacity: 0.8;
	line-height: 25px;
	font-family: "open sans";
	position: absolute; top: 280%;
	border: 3px solid #000000;
	z-index: 2;
	text-align: left;
	font-size: 170%;
}

.whitebg4{
	width: 30%;
	float: right;
	padding: 1%;
	background-color: white;
	opacity: 0.8;
	line-height: 25px;
	font-family: "open sans";
	position: relative; top: 315.5%; right: 10%;
	border: 3px solid #000000;
	z-index: 2;
	text-align: right;
	font-size: 170%;
}

.whitebg5{
	width: 50%;
	float: left;
	padding: 1%;
	background-color: white;
	opacity: 0.8;
	line-height: 25px;
	font-family: "open sans";
	position: relative; top: 435%;
	border: 3px solid #000000;
	z-index: 2;
	text-align: left;
	font-size: 170%;
}

.topnav {
    background-color: #ffffff;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    opacity: 0.5;
    font-family: "open sans";
}

.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #737373;
    color: black;
}
